{
    "name": "form-exam",
    "version": "1.0.0",
    "prettier": {
      "printWidth": 100,
      "tabWidth": 2,
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": false,
      "jsxBracketSameLine": false,
      "semi": false,
      "useTabs": false
    }
  }
  